@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Nunito:wght@300;400&family=Roboto&family=Source+Sans+Pro:wght@600&family=Space+Grotesk:wght@500&display=swap');

#heading {
    font-family: 'Space Grotesk', "Comic Sans MS", "Helvetica Neue", cursive;
}

#subHeading {
    color: white;
    font-family: 'Roboto', cursive;
}

#pContent {
    font-family: 'Nunito', cursive;
}

.sProjIcon {
    color: white;
}

.about, .home, .contact, .left-menu {
    border: 1px outset rgba(8, 139, 213, 0.5);
}

.about:hover, .home:hover, .contact:hover, .left-menu:hover {
    /* From https://css.glass */
    background: #D5BFA5;
    border-radius: 16px;
    box-shadow: 2px 2px 20px rgba(30, 29, 29, 0.88);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border: 1px groove rgba(8, 139, 213, 0.1);
    text-shadow: 1px 1px #6e6d6d;
}

.left-menu {
    display: none;
}

.smallProjects-item {
    border: 1px outset rgba(8, 139, 213, 0.5);
    box-shadow: 1px 1px 10px rgba(30, 29, 29, 0.4);
}

.smallProjects-item:hover {
    border: 1px outset rgba(8, 139, 213, 0.5);
    box-shadow: 2px 2px 20px rgba(30, 29, 29, 0.88);
}

.footer {
    max-width: 80vw;
}

@media (max-width: 640px) or (max-height: 700px) {


    .header-left-logo-wrapper {
        display: none;
    }

    .smallProjects {
        display: none !important;
    }

    .App .container-wrapper .smallProjects {
        display: none !important;
    }

    .header-right-menu-wrapper {
        flex-basis: fit-content;
        flex-grow: 1;
    }

    .header-right-menu {
        margin: 0 auto;
        justify-content: space-around;

    }

    .header-right-menu li {
        flex-basis: 20%;
    }

    .header-right-menu li p {
        text-align: center;
    }

    .footer {
        position: relative;
        margin: 0 auto;
        max-width: 100vw;
    }

    .header-right-menu #left-menu {
        display: inline;
        text-align: center;
        justify-content: center;
        align-self: center;

    }

    .hamburger {
        margin: 0 auto;
    }

    .content {
        display: block;
        margin: 0 auto;
    }

    .content-main-container {
        margin: 0 auto;
        text-align: center;
    }

    @media (max-width: 425px) {
        #heading {
            display: block;
            margin: 0 auto;
        }

    }
}